tomcat.manager.url = http://hostname:8080/manager/text

tomcat.manager.username =
tomcat.manager.password =
tomcat.manager.app = cranachan

cranachan.datasource = jdbc/cranachan
cranachan.db.username = 
cranachan.db.password = 
cranachan.db.url = jdbc:mysql://hostname:3306/cranachan
