<?xml version='1.0' encoding='utf-8'?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
						http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0"
	metadata-complete="true">

	<display-name>BarleySNP</display-name>
	
	<servlet>
		<servlet-name>extractor</servlet-name>
		<servlet-class>jhi.snps.servlet.ExtractionServlet</servlet-class>
		<init-param>
			<param-name>bcfTools</param-name>
			<param-value>/home/tomcat/bcftools-1.5/bin/bcftools</param-value>
		</init-param>
		<init-param>
			<param-name>bcfFile</param-name>
			<param-value>/mnt/du-synology/v1shr2/wildcat-dev/wild_barley_GATK_variants.bcf</param-value>
		</init-param>
		<init-param>
			<param-name>tmpDir</param-name>
			<param-value>/mnt/du-synology/v1shr2/wildcat-dev/tmp</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>extractor</servlet-name>
		<url-pattern>/extractor/*</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<res-ref-name>jdbc/cranachan</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>